.google-button{
    background-image: url('../../images/assets/googleplay@2x.jpg');
}
.apple-button{
    background-image: url('../../images/assets/appstore@2x.jpg');
}
.google-button,
.apple-button{
    padding: 20px 65px;
    background-size: cover;
    margin-right: 30px;
    margin-top: 30px;
    @include box-sizing;
    background-position: center;
    border: none;
    cursor: pointer;
}