//colours

$f-primary-blue: #0544f3;
$f-secondary-blue: #2e8dff;
$f-terciary-blue: #00299c;
$f-primary-gray: #f8f8f8;
$f-secondary-gray: #8e8e96;
$f-terciary-gray: #d5d8db;
$f-black: #000;
$f-white: #fff;
$f-darker-gray: #1d1d1b;
$f-primary-red: #f9304d;