//mixins

@mixin property($property, $value){
  #{$property} : $value;
}
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin display-flex{
  display: flex;
}

@mixin box-sizing{
  box-sizing: border-box;
}


@mixin justify-content($value){
  justify-content : $value;
}

@mixin linear-gradient{
    &:before {
        content: '';
        position: absolute;
        top: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.2) 100%);
        display: block;
        width: 430px;
        height: 150px;
        left: calc(50% - 120px);
        transform: skew(-35deg);
        z-index: 0;
    }
}