//mixins

@mixin property($property, $value){
  #{$property} : $value;
}
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin display-flex{
  display: flex;
}

@mixin box-sizing{
  box-sizing: border-box;
}

@mixin max-width($size){
  max-width: $size;
}

@mixin justify-content($value){
  justify-content : $value;
}

@mixin linear-gradient{
    &:before {
        content: '';
        position: absolute;
        top: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.2) 100%);
        display: block;
        width: 430px;
        height: 100%;
        left: calc(50% - 120px);
        transform: skew(-35deg);
        z-index: 0;
    }
}

@mixin gradientAnimation( $start, $end, $transTime ){
    background-size: 100%;
    background-image: linear-gradient($start, $end);
    position: relative;
    z-index: 100;
    &:before {
        background-image: linear-gradient($end, $start);
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: opacity $transTime;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
}