.banner-business{
  background-color: $f-primary-blue;
  @include display-flex;
  position: relative;
  align-items: center;
  text-align: right;
  @include box-sizing;
  @include linear-gradient;
  justify-content: space-around;
  padding: 30px 70px;
  .banner-imagecontainer,{
    max-width: 450px;
  }

  .banner-title {
    color: $f-white;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  .banner-button{
    padding: 10px 70px;
    background-image: linear-gradient(to right, $f-secondary-blue, $f-primary-blue);
    border: solid 2px $f-white;
    border-radius: 15px;
    text-decoration: none;
    color: $f-white;
  }

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    padding: 20px;
    text-align: center;

    .banner-title {
      font-size: 26px;
      line-height: 30px;
      text-align: right;
    }

    .banner-contentcontainer {
      margin-bottom: 20px;
    }
  }
}
