.carousel{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 70vh;
  text-align: right;

  >.carousel-slide {
    position: absolute;
    width: 100vw;
    height: 100%;
    transition: all 1s ease-in-out;
    text-align: right;
    background-size: cover;
     &.hidden{
       opacity: 0;
    }
    &.visible{
      opacity: 1;
    }
  }
  .carousel-title {
    padding-right: 50px;
    margin-top: 50px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .carousel-buttons-container {
    position: absolute;
    bottom: 0px;
    right: 20px;
  }

  @media only screen and (max-width: 480px) {
    .carousel-title {
      left: 20px;
      padding-right: 10px;
      font-size: 24px;
    }
    .carousel-buttons-container {
      right: 10px;
    }
  }
}
