.categorie{
  .categorie-container{
    @include display-flex;
    @include property('flex-wrap', wrap);
    @include property('justify-content', flex-start);
    padding: 0 80px;
  }

  .categorie-box{
    position: relative;
    min-width: 300px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
    cursor: pointer;
    margin-right: 20px;
    min-height: 400px;
    background-size: cover;
    color: $f-white;
    text-align: center;
    @include display-flex;
    @include property('flex-direction', column);
    @include property('justify-content', flex-end);
    padding: 20px;
    @include box-sizing;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 58%, rgba(0,0,0,0.6) 100%);
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 0;
    }
  }

  .categorie-title{
    font-size: 26px;
    font-weight: bold;
  }
  .categorie-title,
  .categorie-subtitle,
  .categorie-rewards{
    z-index: 1;
  }

  @media only screen and (max-width: 480px) {
    .categorie-container {
      justify-content: center;
      padding: 0px 10px;
    }
    .categorie-box {
      width: 140px;
      min-width: 140px;
      height: 280px;
      min-height: 280px;
      border-radius: 12px;
      margin-bottom: 30px;
      margin-right: 0px;
      flex-wrap: wrap;
      background-size: 100%;
      background-position: left;
      &:nth-child(even) {
        margin-left: 20px;
      }
    }
    .categorie-title {
      font-size: 18px;
    }
    .categorie-rewards {
      font-size: 14px;
    }
  }
}
