.detail{
  padding-bottom: 90px;
 .detail-box{
   max-width: 768px;
   margin: 0 auto;
 }
 .detail-map{
   min-height: 200px;
   background-color: $f-secondary-blue;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   margin-bottom: 20px;
   box-shadow: -4.1px -4px 10.1px 0 rgba(0, 0, 0, 0.05);
   display: flex;
   justify-content: center;
   align-items: center;
   color: $f-white;
   font-size: 28px; 
   position: relative;
   overflow: hidden;
   div{
   display: flex;
   justify-content: center;
   align-items: center;
   }
 }
 .detail-info{
   min-height: 200px;
   background-color: $f-white;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: -4.1px -4px 10.1px 0 rgba(0, 0, 0, 0.05);
   padding: 30px 0;
   text-align: center;
 }

 .detail-benefitinfo{
   display: flex;
   max-width: 500px;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
 }

 .detail-logocontainer{
    width: 100px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .detail-title{
   font-size: 30px;
   font-weight: bold;
   text-align: left;
 }
 .detail-contact{
   color: $f-cuarter-gray;
   display: flex;
   justify-content: space-between;
   min-width: 200px;
   margin-top: 10px;
 }

 .detail-benefit{
   margin-top: 40px;
   font-size: 22px;
   font-weight: normal;
 }
 .detail-conditions{
   font-size: 16px;
   color: $f-cuarter-gray;
   padding: 0 20px;
 }
 .detail-button{
   padding: 15px 50px;
   color: $f-white;
   display:inline-block;
   background: linear-gradient(to right, $f-secondary-blue 0%, $f-primary-blue 100%);
   margin: 20px 0;
   border-radius: 15px;
   cursor: pointer;
   @include box-sizing;
   font-size: 14px;
 }
 .detail-termscondicions{
   display:block;
   color: $f-cuarter-gray;
   font-size: 14px;
   text-decoration: underline;
   cursor: pointer; 
 }
 .title-icon{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex: 1;
   &:first-child{
     .image-icon{
       max-width: 35px;
     }
   }
   &:after{
     background-color: $f-terciary-gray;
     content: '';
      width: 1px;
      height: 20px;
      display: inline-block;
   }
   &:last-child{
     &:after{
       content: none;
     }
   }
 }
  .image-icon{
    max-height: 15px;
  }
}