.footer{
  background-color: $f-primary-blue;
  @include display-flex;
  position: relative;
  padding: 40px 50px;
  border-top: 100px solid $f-primary-gray;
  @include property('justify-content', space-between);
  @include linear-gradient;
  box-sizing: border-box;
  .footer-textcontainer{
    @include display-flex;
    flex: 3;
  }
  .footer-logocontainer{
    max-width: 100px;
    margin-right: 100px;
  }
  .footer-fidusapp{
    flex: 1;
    position: relative;
  }
  .footer-fiduscontainer{
    position: absolute;
    max-width: 250px;
    bottom: -30px;
  }
  .footer-listlinks{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-item{
    @include display-flex;
    @include justify-content(space-between);
    &.-max-width{
      @include max-width(75%);
    }
  }
  .footer-link{
    color: $f-white;
    text-decoration: none;
    font-weight: bold;
  }
  .fidus-copyright{
    color: $f-white;
    font-size: 12px;
    white-space: nowrap;

  }
  .footer-image{
    max-width: 30px;
  }
}