@import "./partials/_colors.scss";
@import "./partials/_mixins.scss";
@import "./partials/_titles.scss";
@import "./partials/_ribbon.scss";
@import "./partials/_buttons.scss";

//font

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

img{
  max-width: 100%;
  height: auto;
}

html{
  font-family: 'Nunito';
}



//components
@import "./components/header.scss";
@import "./components/carousel.scss";
@import './components/benefitbox.scss';
@import './components/news.scss';
@import './components/bannerbusiness.scss';
@import './components/categorie.scss';
@import './components/footer.scss';
@import './components/faqs.scss';
@import './components/contact.scss';
@import './components/detail.scss';
@import './components/popup.scss';